/* CSS Document */

.statusBar {
	margin: 0 41.5%;
    position: absolute;
    top: 300px;
}
.statusBar > .fileName {
}
.statusBar > .fileSize {
	color: #6f7d8a;
    display: none;
    font-weight: bold;
    text-align: center;
}
.statusBar > .progressBar {
	border: 3px solid #47be9e;
    border-radius: 8px;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 150px;
}
.statusBar > .progressBar > div {
    background: none repeat scroll 0 0 #47be9e;
    border-radius: 3px;
    bottom: 3px;
    content: "";
    display: block;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 0%;
}